* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* Navigation bar css ----------------------------------------*/

.navigation-bar {
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    width: 113px;
    height: 60px;
}

.logo img{
    height: 60px;
    width: 113px;
    padding: 0 8px 0 6px;
}



.nav-address {
    height: 60px;
    width: 90px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.nav-address:hover {
    cursor: pointer;
}

.address1 {
    color: #a0a0a0;
    font-size: 0.70rem;
    margin-left: 15px;
}

.address2 {
    font-size: 1rem;
    margin-left: 3px;
}

.location-icon {
    display: flex;
}

.nav-search {
    display: flex;
    width: 800px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-between;
}
.nav-search:hover {
    border: 2px solid rgb(241, 159, 6);
    border-radius: 7px;
}

.search-select {
    background-color: #e9e9e9;
    width: 66px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    color: #494949;
}

.search-select:hover {
    background-color: #dcdcdc;
    cursor: pointer;
    color: black;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
    border: none;
}

.search-icon {
    color: #0f1111;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbaf3d;
    font-size: 1.3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-hello {
    font-size: 0.7rem;

}

.nav-signin:hover {
    cursor: pointer;
}
.nav-account {
    font-size: 0.9rem;
    font-weight: bold;
}

.nav-return:hover {
    cursor: pointer;
}

.nav-return1 {
    font-size: 0.7rem;
}

.nav-order {
    font-size: 0.9rem;
    font-weight: bold;
}

.nav-cart-icon {
    display: flex;
}
.nav-cart-icon:hover {
    cursor: pointer;
}
.nav-cart-icon i{
    font-size: 25px;
}

.nav-cart-icon p {
    font-size: 0.85rem;
    padding-top: 10px;
    padding-left: 3px;
    font-weight: bold;
}

.border:hover {
    border: #ffffff solid 1px;
}

/* Panel css --------------------------------------------*/

.panel {
    display: flex;
    background-color: #222f3d;
    height: 39px;
    color: #ffffff;
    align-items: center;
    padding-left: 11px;
    padding-right: 11px;
}

.panel-all {
    display: flex;
    padding: 8px 9px;
    align-items: center;
}
.panel-all:hover {
    cursor: pointer;
}

.panel-all p {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.panel-all i {
    font-size: 22px;
}

.panel-options a {
    display: inline;
    padding: 8px 7px 8px 9px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.panel-options:hover {
    cursor: pointer;
}

/* Hero section --------------------------------------*/
.hero-section {
    background-image: url("images/hero_image.jpg");
    height: 310px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-text {
    background-color: rgb(225, 225, 225);
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 95%;
    margin-bottom: 30px;
}

.hero-text a{
    color: #037083;
    text-decoration: none;
}

.hero-text a:hover {
    color: #9d620b;
    text-decoration: solid underline #9d620b;
}

/* shop section css ---------------------------------- */

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #dadada;
    flex-wrap: wrap;
}

.container {
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: #ffffff;
    margin-top: 15px;
}

.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    text-decoration: none;
    color: #007185;
}

.box-content a:hover {
    color: #9d620b;
    text-decoration: solid underline #9d620b;
}

/* footer---------------------------------------------*/

footer {
    margin-top: 15px;
}

.panel-1 {
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.panel-1:hover {
    background-color: #424e5c;
    cursor: pointer;
}

.panel-2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 35px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover {
    text-decoration: solid underline 1px;
}

ul p {
    font-weight: bold;
    font-size: 1.1rem;
}

.panel-3 {
    background-color: #222f3d;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 113px;
    height: 60px;
}

.panel-4 {
    background-color: #131A22;
    color: white;
    height: 80px;
    padding-top: 22px;
}

.legal {
    font-size: 0.7rem;
    text-align: center;
}

.legal a {
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(209, 209, 209);
    margin-right: 10px;
}

.legal a:hover {
    text-decoration: solid underline 1px;
}

.legal p {
    font-size: 0.77rem;
    margin-top: 6px;
    color: rgb(209, 209, 209);
}

